<h2>Check out these trail options, or add one to the list!</h2>
<%= link_to 'New Trail', new_trail_path, class: "btn btn-outline-info"%><br>
<br>
<dl>
  <% @trails.each do |trail| %>
    <dt><h4><strong><%= link_to trail.name, trail_path(trail) %> </strong></h4></dt>
    <dd><h6> &nbsp; <%= trail.length %> miles in <%= trail.location.name %> </h6></dd><br>
  <% end %>
</dl>
