<div style="text-align: center;">
<h1>Welcome to Hikr!</h1>
<p>Looking for a specific trail? Want to find some new trails to hike? Interested in what other people have to say about a trail? You're in the right place/p>
<p>Sign up and take a look around! </p>
<%= link_to "Log In", new_user_session_path %> &nbsp; &nbsp;
<%= link_to "Sign Up", new_user_registration_path %>
</div>
